* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 4.5vh;
  background-color: black;
}

.navBtn {
  background-color: white;
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
  margin-left: .5vw;
  margin-right: .5vw;
  padding: .5vh;
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 89.5vh;
  width: auto;
}

p {
  margin: 6vh;
  margin-bottom: 10vh;
  width: 25vw;
  min-width: 300px;
  height: auto;
  overflow: hidden;
}

.nameOfResturant {
  margin: 2vh;
}

.cafeImage {
  background: url(./images/jonas-jacobsson-1iTKoFJvJ6E-unsplash.jpg);
  height: 50vh;
  width: auto;
}

.classicBlackImg {
  background: url(./images/devin-avery-5iRgh_G0eRY-unsplash.jpg);
  height: 20vh;
  width: 7vw;
}

.cappuccinoImg {
  background: url(./images/fahmi-fakhrudin-nzyzAUsbV0M-unsplash.jpg);
  height: 20vh;
  width: 7vw;
}

.latteImg {
  background: url(./images/jarek-ceborski-IhqDpFz7I8Q-unsplash.jpg);
  height: 20vh;
  width: 7vw;
}

.footer {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: auto;
}