@font-face {
  font-family: "MyFont";
  src: url('./LibreFranklin-Regular.ttf');
  font-weight: 600;
  font-style: normal;
  letter-spacing: 3rem;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: auto;
  font-family: 'MyFont';
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 4.5vh;
  background-color: black;
}

.navBtn {
  background-color: white;
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
  margin-left: .5vw;
  margin-right: .5vw;
  padding: .5vh;
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  height: 89.5vh;
  width: auto;
}

p {
  margin: 6vh;
  margin-bottom: 10vh;
  width: 25vw;
  min-width: 300px;
  height: auto;
}

.nameOfResturant {
  margin: 2vh;
}

.cafeImage {
  background: url(./images/jonas-jacobsson-1iTKoFJvJ6E-unsplash.jpg);
  height: 50vh;
  width: auto;
}

.classicBlackImg {
  background: url(./images/devin-avery-5iRgh_G0eRY-unsplash.jpg);
  height: 20vh;
  width: 7vw;
}

.cappuccinoImg {
  background: url(./images/fahmi-fakhrudin-nzyzAUsbV0M-unsplash.jpg);
  height: 20vh;
  width: 7vw;
}

.latteImg {
  background: url(./images/jarek-ceborski-IhqDpFz7I8Q-unsplash.jpg);
  height: 20vh;
  width: 7vw;
}

.contactImg {
  background: url(./images/tomas-jasovsky-d5SZqLkpIrY-unsplash.jpg);
  height: 40vh;
  width: 20vw;
}

.menuContent {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menuItem {
  display: flex;
  align-items: center;
  width: 30vw;
  height: auto;
  padding: 4vh;
}

#middleItem {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.footer {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: auto;
}

img {
  margin-right: 1.5vw;
}