* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 8vh;
  border-bottom: 1px solid black;
}

.navBtn {
  border: 1px solid black;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: .5vh;
  cursor: pointer;
}

.page {
  display: flex;
  justify-content: center;
  height: 84vh;
  width: auto;
}

.nameOfResturant {
  margin: 2vh;
}

.footer {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: auto;
}